@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    /* background-color: black; */
    scroll-behavior: smooth;
    color: white;
    font-family: 'Raleway', sans-serif;
}
main{
    display: flex;

}

.sidenevbar{
    background-color: rgb(58,85,121);
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* overflow-y: scroll; */
    width: 5vw;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;
    box-shadow: 1px 1px  30px solid black;
}
.sidenevbar a{
    color: white;
    font-size: 20px;
}
.nevbar{
    display: none;
}
.nevbar button{
    display: none;
}
.rights{
    position: relative;
    top: 4vh;
    color: wheat;
    bottom: 0px;
    font-size: 12px;
    transform: rotate(-180deg);
    display: inline-block;
    overflow: visible;
    -webkit-transform: rotate(-180deg);
    -webkit-writing-mode: vertical-rl;
    /* animation: rightAnimation; */
    animation: rightAnimation 4s ;
}
@keyframes rightAnimation {
    from{
        transform: translateY(400px);
    }
    to{
        transform: translateY(0px);
    }
}
.sideSectionRight{
    width: 95vw;
    margin-left: 5vw;
}
.secction1, .secction2, .secction3 , .secction5{
    height: 100vh;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}
.secction1{
    background-color: rgb(39,47,62);
    scroll-behavior: smooth;
    align-items: center;
    justify-content: space-evenly;
}
.secction1 h1{
    text-align: center;
}
.HomeImgSection{
    height: 40vh;
    width: 40vh;
    border: 4px solid rgb(39,47,62);
    border-radius: 100%;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: HomrImgbg 10s infinite;
}
@keyframes  HomrImgbg {
    0% {background-color: gray;
        border: 4px solid rgb(39,47,62);}
    25% {background-color: rgb(141,153,174);
        border: 4px solid rgb(39,47,62);}
    50% {background-color: rgb(152,193,217);
        border: 4px solid rgb(39,47,62);
        border: 4px solid rgb(39,47,62);}
    75% {background-color: rgb(2,48,71);
        border: 4px solid rgb(39,47,62);}
    100% {background-color: rgb(109,89,122);
        border: 4px solid rgb(39,47,62);}
}
.homeImage{
    height: 40vh;
    width: 40vh;
    border-radius: 100%;
    animation: HomeImageAnimation 1.5s;
}
@keyframes HomeImageAnimation {
    from{
        /* transform: rotateX(90deg); */
        transform: translateY(-1000px);
    }
    to{
        /* transform: rotateX(0deg); */
        transform: translateY(0px);
        transition: all ease-out;
    }
}
.icons{
    width: 40%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px;
}
.icons i{
    font-size: 30px;
}
.secction1 a {
    text-decoration: none;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    /* color: rgb(39,47,62) ; */
    color: white;
    border: none;
    background-color: rgb(242,102,33);
    padding: 10px;
}
.secction2{
    background-color: rgb(141,153,174);
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.secction2 h1{
    text-decoration: underline;
}
.infoSection{
    display: flex;
    /* align-items: center; */
    justify-content: space-evenly;
}
.aboutImage{
    width: 30%;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}
.abImg{
    height: 40vh;
    /* width: 30%; */
    /* background-color: white; */
    border-radius: 10px;
    background: url(./Images/me.png);
    /* background-color: white; */
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    animation: abimageAnimation 10s ease-out infinite;
}
@keyframes abimageAnimation {
    0% { background: url(./Images/me.png);
        background-size: contain;
        background-color: white;
        background-position: center;
        background-repeat: no-repeat;}
    20% { background: url(./Images/1edit.jpg);
        background-size: contain;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;}
    40% { background: url(./Images/2.jpg);
        background-size: contain;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;}
    60% { background: url(./Images/3.png);
        background-size: contain;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;}
    80% { background: url(./Images/3.png);
        background-size: contain;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;}
    100% { background: url(./Images/cardBlank.png);
        background-size: contain;
        background-position: center;
        background-color: white;
        background-repeat: no-repeat;}
}
.infoSection .infoData{
    width: 60%;
    /* color: wheat; */
    font-weight: 600;
    line-height: 25px;
}
.infoData{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.infoData a{
    text-decoration: none;
    background-color: rgb(242,102,33);
    color: white;
    margin-top: 20px;
    padding: 10px;
    width: fit-content;
    border-radius: 10px;
}
.secction3{
    background-color: rgb(152,193,217);
    scroll-behavior: smooth;
}
.secction4{
    background-color: rgb(2,48,71);
    display: flex;
    flex-direction:column;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    /* height: 100vh; */
}
.cardsSection div{
    background-color: white;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25vw;
    margin-bottom: 30px;
}
.cardsSection{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.projectCard{
    height: 30vh;
    width: 100%;
    background-color: white;
    /* padding: 10px; */
    border-radius: 10px ;
}
.projectCard img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
    border-radius: 10px;
    transition: all 2s ease-in-out;
}
.projectCard img:hover{
    object-position: bottom center;
}
.projectLinks a{
    text-decoration: none;
    padding:10px;
}
.codes{
    color: rgb(2,48,71);
    border: 2px solid rgb(2,48,71);
    border-radius: 20px;
    margin-bottom: 10px;
    transition: all 1s ease-out;
}
.live{
    color: white;
    border-radius: 20px;
    background-color: rgb(2,48,71);
    border: 2px solid rgb(2,48,71);
    transition: all 1s ease-out;
}
.live:hover{
    color: rgb(2,48,71);
    border: 2px solid rgb(2,48,71);
    background-color: white;
}
.codes:hover{
    background-color: rgb(2,48,71);
    color: white;
}
.secction5{
    background-color: rgb(109,89,122);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
.formSection h1 , p , .submit{
    margin: 10px;
}
.formInfoSection{
    width: 40vw;
    /* background-color: green; */
}
.formSection{
    width: 45vw;
}
.formSection input{
    width: 45%;
    padding: 10px;
    margin: 10px;
    font-size: 20px;
    border-radius: 10px;
    background-color: #0000;
    border: 2px solid white;
    color: white;
}
.formSection input:hover{
    outline: 2px solid greenyellow;
    border: none;
}
textarea{
    color: white;
    font-family: Raleway;
}
textarea:hover{
    outline: 2px solid greenyellow;
    border: none;
}
::placeholder{
    color: white;
    font-size: 20px;
}
textarea{
    width: 95%;
    height: 35vh;
    margin: 10px;
    padding: 10px;
    font-size: 20px;
    border-radius: 20px;
    background-color: #0000;
    border: 2px solid white;
}
.submit{
    margin-left: 20px;
    background-color: rgb(242,102,33);
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 10px;
    border: none;
}
.icons a{
    color: white;
}
.formInfoSection .location:hover >.licon{
    color: black;
    transition: all 0.5 ease-in;
}
@media (max-width:768px) {
    .nevbar{
        background-color: rgb(58,85,121);
        width: 100vw;
        height: 10vh;
        box-shadow: 1px 1px 2px black;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: sticky;
        top:0px;
        z-index: 10000000000000000000;
    }
    .nevbar h3{
        width: 90%;
        position: relative;
        text-align: center;
    }
    .nevbar button{
        display: flex;
        color: white;
        border: none;
        font-size: 20px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 5px;
        padding-bottom: 5px;
        background-color: rgb(58,85,121);
        z-index: 10000000;
        width: 10%;
    }
    .sidenevbar{
        /* display: none; */
        width: 0px;
        transform: translateX(-1000px);
        transition: all 1s ease;
    }
    .sidenevbarResponsive{
        display: flex;
        width: 50vw;
        height: 90vh;
        opacity: 0.9;
        transform: translateX(0px);
        transition: all 1s ease;
    }
    .sidenevbar a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        height: 100%;
        text-decoration: none;
        border-bottom: 2px solid white;
    }

    .sidenevbar a:hover{
        color:greenyellow;
        border-bottom: 2px solid greenyellow;
    }
    .rights{
        -webkit-writing-mode: horizontal-tb;
        transform: rotateX(0deg);
        font-size: 12px;
        padding: 5px;
        text-align: center;
    }
    .sideSectionRight{
        width: 100vw;
        margin-left: 0px;
    }
    .secction1 h1 , .secction2 h1{
        font-size: 20px;
    }
    .secction2{
        height: 720px;
        justify-content: space-evenly;
        align-items: center;
    }
    .icons{
        width: 70%;
    }
    .icons i{
        font-size: 20px;
    }
    .infoSection{
        display: block;
        align-items: center;
    }
    .abImg{
        height: 30vh;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 30px;
    }
    .aboutImage{
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .infoSection .infoData{
        width: 100%;
        justify-content: space-evenly;
    }
    .icons{
        width: 100%;
        margin-top: 20px;
    }
    .infoData{
        height: 50vh;
        display: flex;
        /* flex-direction: column; */
        left: 20px;
        width: 100%;
    }
    .infoData p{
        width: 90vw;
        font-size: 14px;
        text-align: center;
        line-height: 18px;
        margin-top: 40px;
    }
    .aboutButton{
        display: flex;
        justify-content: space-between;
        width: 70vw;
    }
    .secction4{
        padding-top: 50px;
        padding-bottom: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
    }
    .secction4 h1{
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: center;
        font-size: 22px;
    }
    .secction4 p{
        margin-bottom: 20px;
    }
    .cardsSection div{
        width: 80%;
        margin-bottom: 20px;
    }
    .cardsSection .projectCard{
        width: 100%;
    }
    .secction5{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 950px;
    }
    .formInfoSection{
        width: 90%;
        margin-top: 110px;
    }
    .formSection{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    .formSection input{
        width: 43%;
    }
    textarea{
        width: 93%;
    }
}